<p id="notice"><%= notice if notice.present? %></p>
<div class="row text-center">
    <div class="col-3">
        <h1>Parking Lot Map</h1>
        <p>Cards in Grey Indicates Entry Points <span class="badge bg-secondary">Entry Point</span></p>
        <p>Cards in Blue Indicates a vacant slot<span class="badge bg-info">Vacant Slot</span></p>
        <p>Cards in Red Indicates a Booked Slot<span class="badge bg-danger">Booked Slot</span></p>
        <p>CLICK ON A SLOT TO UPDATE STATUS</p>
    </div>
    <div class="col">
        <div class="container w-50">
            <div class="row">
                <div data-controller="drag" data-drag-url="/locations/:id/move">
                    <% @locations.each do |location|%>
                        <div class="m-1 col-3"data-id="<%= location.id %>">
                            <% if location.locatable_type == "EntryPoint" %>
                            <% type = "btn-secondary" %>
                            <% else %>
                            <% slot = Slot.find(location.locatable_id) %>
                                <% if slot.booked? %>
                                    <% type = "btn-danger" %>
                                <% else %>
                                    <% type = "btn-info" %>
                                <% end %>
                            <% end %>
                            <%# type = (location.locatable_type == "EntryPoint") ? "btn-secondary": Slot.find(location.locatable_id).booked? ? "btn-danger" : "btn-info" %>
                            <%= link_to (slot ? edit_slot_path(slot) : '') do %>
                                <button type="button" class="btn <%= type %> btn-block">
                                    <%= location.locatable_type %> <br/>Located at <span class="badge bg-secondary"><%= location.position %></span>
                                </button>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>