<%= form_with(model: booking_log, local: true) do |form| %>
  <% if booking_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking_log.errors.count, "error") %> prohibited this booking_log from being saved:</h2>

      <ul>
        <% booking_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slot_id %>
    <%= form.text_field :slot_id %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.text_field :vehicle_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
