<p id="notice"><%= notice %></p>

<h1>Booking Logs</h1>

<table>
  <thead>
    <tr>
      <th>Slot</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booking_logs.each do |booking_log| %>
      <tr>
        <td><%= booking_log.slot_id %></td>
        <td><%= booking_log.vehicle_id %></td>
        <td><%= link_to 'Show', booking_log %></td>
        <td><%= link_to 'Edit', edit_booking_log_path(booking_log) %></td>
        <td><%= link_to 'Destroy', booking_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking Log', new_booking_log_path %>
