<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Parking Slot Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <%= content_tag :li, class: "nav-item"  do -%>
            <%= link_to "Home", home_index_path, class: "nav-link"%>
        <% end %>

        <%= content_tag :li, class: "nav-item"  do -%>
            <%= link_to "Book a Slot", home_book_slot_path, class: "nav-link"%>
        <% end %>

        <%= content_tag :li, class: "nav-item"  do -%>
            <%= link_to "Show Logs", home_show_logs_path, class: "nav-link"%>
        <% end %>

        <%= content_tag :li, class: "nav-item"  do -%>
            <%= link_to "Showing Parking Map", home_index_path, class: "nav-link"%>
        <% end %>

        <%= content_tag :li, class: "nav-item"  do -%>
            <%= link_to "Reset Whole App", home_reset_whole_app_path, class: "nav-link"%>
        <% end %>

      </ul>
    </div>
  </div>
</nav>